name: Publish npm package
on:
  push:
    branches:
      - main
jobs:
  publish-package:
    name: publish-package
    runs-on: ubuntu-latest
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2

      - run: bun install
      - run: bun run lazycheck
      - run: bun run build
      - run: bun publish
